.text-center {
  text-align: center;
}

/*== Mengubah tipe font ==*/
/* font-family: 'nama font1', namafont2, tipe-font3;  */
.p1 {
  font-family: 'Courier New', Courier, monospace;
}



/*== Mengubah ukuran font ==*/
/* font-size: px/em/rem/dll;  */
.p2 {
  font-size: 24px;
}



/*== Mengubah font menjadi miring (italic) ==*/
/* font-style: normal/italic/oblique; */
.p3 {
  font-style: italic;
}



/*== Mengubah font menjadi small caps ==*/
/* font-variant: normal/small-caps;  */
.p4 {
  font-variant: small-caps;
}



/*== Mengubah ketebalan font ==*/
/* font-weight: normal/bold/100/200/dst; */
.p5 {
  font-weight: bold;
}



/*== Mengatur spasi/jarak antar baris ==*/
/* line-height: px/em/rem/dll; */
.p6 {
  line-height: 40px;
}